.App {
  text-align: center;
}

.chat {
  display: flex;
  height: 500px;
  border: 1px solid #ddd;
}
.left {
  width: 200px;
  border-right: 1px solid #ddd;
}
.right {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.chat-area {
  height: 350px;
  border-bottom: 1px solid #ddd;
}
.input-area {
  height: 150px;
}
.active {
  border: 1px solid #f00;
}
